.scroll::-webkit-scrollbar
{
	width: 8px;
}
.scroll::-webkit-scrollbar-track
{
	background-color: #404240;
}
.scroll::-webkit-scrollbar-thumb
{
	background-color: #0a590a;
	border-radius: 30px;
}
body
{
	margin: 0 !important;
	overflow-y: hidden;
	height: 100%;
	background: url(foto/tlo.jpg);
	background-size: cover;
    background-repeat: no-repeat;
}
a
{
    text-decoration: none;
    color: white;
}
#imie
{
	position: absolute; 
	top: 20%;
	width: 100%;
	font-size: 6vw;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 4px;
	color: white;
	text-align: center;
	margin: auto;
	
}
.sidenavL
{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 40px;
	z-index: 20;

}
.omnie, .mojapraca, .galeria, .oferta, .kontakt, .znajomi
{
    height: 16.6666666666666%;
    width: 100%;
    background: #565759;
    transition: 0.3s;
    border-radius: 0 30% 30% 0;
    cursor: pointer;
}
.omnie
{
	padding-top: 10px;
	box-sizing: border-box;
	color: black;
}
.mojapraca
{

}
.galeria
{

}
.oferta
{

}
.kontakt
{

}
.znajomi
{

}
.omnie:hover, .mojapraca:hover, .galeria:hover, .oferta:hover, .kontakt:hover, .znajomi:hover
{
	width: 70px;
    background: #e06745;
}
@media (min-width: 1202px)
{
	img
	{
		width: 292.75px;
	}
}
@media (max-width: 1201px)
{
	img
	{
		width: 25%;
	}
}

#omnieC, #mojapracaC, #galeriaC, #ofertaC, #kontaktC, #znajomiC
{
	width: 0;
	height: 100%;
	position: fixed;
	top: 0;
	left: -120px;
	overflow-x: hidden;
    transition: 0.8s;
	padding-left: 80px;
	padding-right: 40px;
	box-sizing: border-box;
	font-size: 24px;
	text-align: justify;
	padding-bottom: 20px;
    margin-left: 30px;
}
#omnieC
{
    background: rgba(237, 237, 237, 0.90);
    font-size: 28px;
	z-index: 1;
}
#omnieC > a
{
    color: black;
}
#mojapracaC
{
	background: rgba(164, 186, 134, 0.85);
	z-index: 2;
}
#galeriaC
{
	background-color: #66FF77;
	z-index: 3;
}
#ofertaC
{
	background-color: #77FF59;
	z-index: 4;
}
#kontaktC
{
	background-color: #5FC62F;
	z-index: 5;
}
#znajomiC
{
	background-color: #BAB84C;
	z-index: 6;
}
h1
{
	font-weight: bold;
	font-size: 55px;
	letter-spacing: 3px;
	text-align: center;
}
#socialBox
{
    margin-top: 13%;
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.social
{
    display: flex;
    width: 14vw;
    height: 20vh;
    background-color: black;
    border-radius: 15px;
    color: white;
    font-size: 28px;
    align-items: center;
    justify-content: center;
    transition: 0.2s ease-in-out;
}
.social:hover
{
    cursor: pointer;
}
.social > a
{
    transition: 0.2s ease-in-out;
    text-decoration: none;
}
.social:nth-of-type(1){background: #3B5998;}
.social:nth-of-type(2){background: #1DA1F2;}
.social:nth-of-type(3){background: #fffc00;}
.social:nth-of-type(4){background: #cd486b;}

.social:hover:nth-of-type(1){background: #2a4887; transform: scale(1.07);}
.social:hover:nth-of-type(2){background: #0c90e1; transform: scale(1.07);}
.social:hover:nth-of-type(3){background: #eeeb00; transform: scale(1.07);}
.social:hover:nth-of-type(4){background: #bc375a; transform: scale(1.07);}

.social:hover a {transform: scale(1.6);}
